* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Change scrollbar to be a gradient*/
body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, #48cfad 0%, #ED5565 100%);
  }
  
  body::-webkit-scrollbar-thumb {
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh black;
}

.container {
    padding: 0 100px 0 100px;
}

::selection {
    background: rgba(237, 85, 100, 0.63);
    color: white;
  }

nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container {
    position: relative;
    
}

/* #cornify {
    text-align: center;
    margin: 0 20px 0 20px;
    width: calc(50% + 2vw);
    height: calc(50% + 2vh);
    right: 50%;
    transform: translateX(25%);
} */

body {
    background-color: #252627;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar {
    background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}

.coming-soon h2{
    display: grid;
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .35);
    padding: 50px;
    text-align: center;
    color: #707070;
    z-index: 1;
}

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 120px
}

.text h1 {
    color: white;
    font-size: calc(100% + 1.5vw + 1.5vh);
    cursor: context-menu;
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48cfad;
    transition: all .5s;
}

span.name {
    color: #ED5565;
}

span.m-left {
    margin-left: -10px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: white;
}

.text a::before {
    content: '';
    background-color:#ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img {
    width: auto;
    height: 400px;
    margin-top: 50px;
    box-shadow: 0 0 8px 8px #252627 inset;
}

.about {
    height: 100vh;
    margin-top: 100px;
}

.about h1,
.work h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info {
    width: 85%;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.about-me-info p {
    font-size: 1.75vw;
    color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.about img {
    width: 300px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
}

.skills {
    height: 100vh;
}

.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.skills-info {
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}

.html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

div[class^='tag-'] {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color:#48cfad;
    margin-right: 30px;
}

div[class^='tag-'] p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.progressbar {
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #ED5565;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-'] {
    position: absolute;
    background-color: #ED5565;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javascript,
.bar-java,
.bar-python {
    width: calc(0 - 6px);
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.weather-h1 {
    text-align: left;
    font-size: 10rem;
    opacity: 0.1;
    color: #707070;
}

.weather-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

.weather-header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #ED5565;

    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

.weather-header input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.weather-header input::placeholder {
    color: #181818;
}

.location .city {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFF;
    font-size: 16px;
}

.current .temp {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.work-category button {
    text-transform: capitalize;
    border: 3px solid #ED5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ED5565;
    letter-spacing: 1px;
    background-color: #252626;
    outline: none;
    cursor: pointer;
}

div[class^='category-'] {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.work a {
    justify-self: center;
    position: relative;
    display: inline-block;
}

.work-category .active {
    background-color: #ED5565;
}

button.active {
    color: #fff;
}

.work a img {
    width: 350px;
    justify-self: center;
}

div.hideCategory {
    display: none;
}

.showCategory {
    display: block;
}

.contact {
    margin-top: 50px;
}

form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:focus
{
    border: 3px solid #ED5565;
    transition: .5s;
}

.message {
    position: relative;
    margin: 20px;
    color: #707070;
}

.message p {
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;

}

.submit-button {
    background: transparent;
}

.submit-button:hover {
    background-color: #ED5565;
    padding: auto;
    border: #ED5565;
    transition: .5s;
    cursor: pointer;
}

footer hr {
    border: 2px solid #707070;
    margin-top: 80px;
}

footer p  {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}
